<%- include("partials/header") -%>
<!-- <div class="bg-blog-container"> -->
<div class="blog-page-container">
    <h1><i class="fas fa-angle-right"></i> <a href="/" class="blog-title">Home</a></h1>
    <p>
        <%=homeContent%>
    </p>
    <%posts.forEach(function(post){%>
        <h1>
            <i class="fas fa-angle-right"></i>  <a href="/posts/+<%=post.title%>"  class="blog-title"><%=post.title%> </a>
        </h1>
        <p>
            <% var content;%>
            <%if(post.content.length>500){%>
            <%content=post.content.substring(0,650)+"..."; %>
            <%}else {%>
            <%content=post.content;}%>
            <%=content%>
            <%if(post.content.length>650){%>
            <a href="/posts/+<%=post.title%>">Read More</a>
            <%}%>
        </p>
     <%});%>
</div>
<!-- </div> -->
<%- include("partials/footer") -%>